@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .about-page {
    @apply w-full h-full flex flex-col gap-4 pt-32 px-3 pb-20;
  }

  .about-page-title {
    font-family: var(--font-archivo-bold);
    @apply w-full h-fit flex flex-row justify-between items-center text-2xl md:text-4xl lg:text-6xl text-[#04002D] p-5 border-[5px] border-[#04002D] shadow-[6px_4px_0_#04002D] rounded-md bg-neutral;
  }

  .about-page-content {
    @apply w-full h-full flex flex-col md:flex-col lg:flex-row justify-center items-start gap-5;
  }

  .about-page-content-1 {
    @apply w-full h-fit flex flex-col gap-4 items-center p-4 border-[4px] border-[#04002D] shadow-[6px_4px_0_#04002D] rounded-md bg-neutral;
  }

  .about-page-content-1-title {
    font-family: var(--font-archivo-bold);
    @apply w-full h-fit text-2xl md:text-4xl lg:text-6xl text-[#04002D] bg-secondary p-4 border-[4px] border-[#04002D] shadow-[6px_4px_0_#04002D] rounded-md;
  }

  .about-page-content-1-desc {
    font-family: var(--font-archivo);
    @apply w-full h-fit text-lg md:text-xl lg:text-2xl text-[#04002D] p-4 text-justify;
  }

  .about-page-content-2 {
    @apply w-fit h-fit flex flex-col gap-4 items-center p-4 border-[4px] border-[#04002D] shadow-[6px_4px_0_#04002D] rounded-md bg-neutral;
  }

  .about-page-content-2-title {
    font-family: var(--font-archivo-bold);
    @apply w-full h-fit text-2xl md:text-4xl lg:text-6xl text-[#04002D] bg-info p-4 border-[4px] border-[#04002D] shadow-[6px_4px_0_#04002D] rounded-md;
  }

  .about-page-content-2-list {
    @apply w-full h-fit flex flex-row gap-3;
  }

}
