@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .events-page {
    @apply w-full h-full flex flex-col gap-5 px-5 py-32;
  }
  .events-title{
    @apply w-full h-fit flex justify-between;
  }

  .events-pic{
    animation: rotateAnimate 15s linear infinite;
    transform-origin: center center
  }

  .events-title-text{
    font-family: var(--font-archivo-bold);
    @apply w-fit h-fit p-3 bg-[#FFDB58] text-[#04002D] border-[5px] border-[#04002D] shadow-[6px_4px_0_#04002D] text-[22px] md:text-[24px] lg:text-[36px] rounded-[5px] rotate-[-5deg];
  }

  .events-content{
    @apply w-full h-fit flex flex-col gap-4;
  }

  .events-content-1{
    @apply w-full h-fit grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2 md:gap-3 lg:gap-4;
  }

  .events-pagination{
    @apply w-full h-fit flex justify-center items-center gap-4;
  }
}
