@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .signup-page {
    @apply w-full  h-screen flex flex-col justify-center items-center pt-36 pb-36;
  }

  .signup-page-container {
    @apply w-fit md:w-fit lg:w-full lg:max-w-[525px] h-fit border-[5px] border-[#04002D] shadow-[6px_4px_0_#04002D] p-8 rounded-[5px] flex flex-col items-center justify-center;
  }

  .signup-title {
    font-family: var(--font-archivo-bold);
    @apply w-fit h-fit text-[32px] md:text-[32px] lg:text-[64px] text-[#04002D];
  }

  .eventure-form {
    @apply flex flex-col gap-4 mt-6 w-full;
  }

  .eventure-form input {
    font-family: var(--font-archivo-regular);
  }

  .eventure-button {
    font-family: var(--font-archivo-bold);
    @apply w-full h-fit bg-primary text-neutral border-[5px] border-[#04002D] shadow-[6px_4px_0_#04002D] text-[22px] md:text-[24px] lg:text-[28px] rounded-[5px] p-2 flex items-center justify-center cursor-pointer;
  }

  .eventure-button:hover {
    @apply shadow-[3px_2px_0_#04002D] scale-95;
  }

  .signup-ask {
    font-family: var(--font-archivo-regular);
    @apply w-full h-fit flex flex-row items-center justify-center text-[#04002D] mt-5;
  }

  .signup-ask a {
    font-family: var(--font-archivo-bold);
    @apply text-primary;
  }

  .btn-show-hide-pwd {
    @apply w-fit h-fit p-2 rounded-sm bg-secondary border-[3px] border-[#04002D] shadow-[3px_2px_0_#04002D];
  }

  .btn-show-hide-pwd:hover {
    @apply shadow-[1px_1px_0_#04002D] scale-95;
  }
}
